<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/font.css">
<div id="cluster-map"></div>
<hr>
<div class="my-5">
    <h1 class="text-center text-danger-emphasis" id="camp">All Campgrounds</h1>
</div>

    <%for(let campground of c){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img crossorigin="anonymous" class="d-block w-100" alt="" src="<%=campground.images[0].url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=campground.location%>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.title%>
                        </a>
                        <% if(currentUser && campground.author.equals(currentUser)) {%>
                            <form class="mt-3" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger" type="submit">Delete <%=campground.title%></button>
                            </form>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <script>
            const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
            const campgrounds = { features: <%- JSON.stringify(c) %>}
        </script>
        <script src="/javascripts/clusterMap.js"></script>